.product-link {
  text-decoration: none;
  color: black;
}

.product-card {
  max-height: 100%;
}

.product-link :hover {
  filter: brightness(95%) !important;
}

.title {
  display: inline !important;
}

.product-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border: 0.5px solid black !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .product-img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}
